<h1 style="text-align: center;">Contact List</h1>

<app-filter-contacts (change)="filter($event);"></app-filter-contacts>

<div class="table-content">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of filterContactList" (click)="onClickDetail(contact)">
        <th scope="row">{{contact.id}}</th>
        <td>{{contact.title}}.{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>+1-{{contact.phone}}</td>
        
      </tr>
    </tbody>
  </table>
</div>

<div  *ngIf="show" class="detailcard">
<div *ngIf="detailContact" class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Title: {{detailContact.title}}</li>
    <li class="list-group-item">Name: {{detailContact.name}}</li>
    <li class="list-group-item">Name: {{detailContact.email}}</li>
    <li class="list-group-item">Phone: {{detailContact.phone}}</li>
    <li class="list-group-item"> <button style="margin-left: 35%;" class="btn btn-primary" (click)="Delete(detailContact.id)">Borrar</button> </li>
  </ul>
</div>
</div>