<h1 style="text-align: center;">Contact List</h1>

<app-filter-contacts (change)="filter($event);"></app-filter-contacts>

<div class="table-content">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of filterContactList">
        <th scope="row">{{contact.id}}</th>
        <td>{{contact.title}}.{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>+1-{{contact.phone}}</td>
        <td> <button (click)="Delete(contact.id)">Borrar</button> </td>
      </tr>
    </tbody>
  </table>
</div>
